*{
  box-sizing:border-box;
}

/* mobile */
html { font-size: 10px; }

/* tablet */
@media only screen and (min-width: 480px) {
  html { font-size: 14px; }
}

/* desktop */
@media only screen and (min-width: 768px) {
  html { font-size: 18px; }
}

/* extra large monitor */
@media only screen and (min-width: 1024px) {
  html { font-size: 20px; }
}

/*  light green header rectangle that contains logo and title 
  needs to be full width of the screen
  responsive border line between header and content, thicker as larger */
.header{
  display:flex;
  align-items:center;
  padding-left:1rem;
  padding-bottom:1rem;
  border-bottom:.1rem solid beige;
  height:6rem;
  width:100%;
  background:#B1D396;
}

.h1{
color:#2D4A15;
padding-top:3rem;
}

.body{
font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,sans-serif;
height:100%;
display:flex;
flex-direction:column;
background:#DEDEC2;
}